@import "variables";
@import "fonts";
@import "mixins";
@import "button";

//Global Styles

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "NimbusSans", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
  background-color: $dark-gray;
}

h1,
h2,
h3,
h4,
h5,
h6, ul ,span {
  margin: 0;
  padding: 0;
  color: $white;
}

h1 {

}

h2 {
  color: $white;
  font-size: rem(20px);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 90%;
}

// Links
.nuxt-link-exact-active {
  color: $blue;
}

// Icons
.icon {
  width: 30px;
  height: 30px;
}

// Scroll
::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $dark-gray-lighten;
  border-radius: 20px;
  border: 5px solid $gray;
}

// Other
.arrow-icon {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  transition: 0.2s ease-in-out;
}

.arrow-icon-active {
  transform: rotateX(-180deg);
}

// Animation
.slide-enter-active {
  transition: all 0.2s ease-in;
}
.slide-leave-active {
  transition: all 0.2s ease-in;
}
.slide-enter,
.slide-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}



