$white: #F4F4F4;
$black: #0B121C;
$dark-gray: #182533;
$dark-gray-lighten: #2E3B49;
$gray: #1c2b3c;
$blue: #2F80ED;
$blue-bright: #659AD6;
$success: #0FCE72;

/*OTHER*/
$transition: all 0.2s ease;
$radius: 12px;
$radius-small: 6px;
$dark-gradient: linear-gradient(
    315deg,
    rgba(31, 48, 67, 1) 27%,
    rgba(25, 39, 55, 1) 95%
);
